@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

* {
  border-color: theme('colors.slate.800');
}

a {
  color: inherit;
}

.leaflet-container {
  height: 70vh;
  width: 100%;
  border: 1px solid theme('colors.slate.800');
  border-radius: 1rem;
}
